@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); 

h1 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100px;

} 

header { 
    margin-left: 120px;
    margin-top: 92px;


}


p {
    position: absolute;
    width: 972px;
    height: 247px;
    left: 120px;
    top: 472px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 400px;
}

.footer {
    position: fixed;
    left: 80%;
    bottom: 0;
    width: 25%;
    padding-right: 20px;
 }

img {
    width: 20%;
}

